#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#          Kibana Template for Linux         #
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
[[inputs.procstat]]
  pattern = "kibana"   # Pattern to search for 
  process_name = "kibana"   # Name to report back
  fieldpass = ["num_threads","memory_swap","memory_rss","memory_usage","cpu_time_idle","cpu_time_system","cpu_time_user"]

