#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#       Elasticsearch Template for Linux     #
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
[[inputs.procstat]]
  pattern = "elasticsearch.*jdk"
  process_name = "elasticsearch"
  fieldpass = ["num_threads","memory_swap","memory_rss","memory_usage","cpu_time_idle","cpu_time_system","cpu_time_user"]

