[Unit]
Description=Influx Chronograf Service
After=network-online.target

[Service]
User=trev
LimitNOFILE=65536
ExecStart=/app/influx/chronograf/usr/bin/chronograf -b /app/influx/data/chronograf/chronograf-v1.db
Restart=on-failure


[Install]
WantedBy=multi-user.target
