[Unit]
Description=Kafka Service
After=network-online.target

[Service]
User=trev
WorkingDirectory=/app/kafka/kafka
ExecStart=/app/kafka/kafka/bin/kafka-server-start.sh /app/kafka/conf/kafka-server-1.properties
Restart=on-failure

[Install]
WantedBy=multi-user.target
