[Unit]
Description=MaaS WWW Service 
After=network-online.target elasticsearch.service

[Service]
User=%USER%
WorkingDirectory=/app/maas/www
ExecStart=/bin/python3 /app/maas/www/www.py
Restart=on-failure

