[Unit]
Description=Zookeeper Service
After=network-online.target

[Service]
User=trev
LimitNOFILE=65536
WorkingDirectory=/app/kafka/kafka
ExecStart=/app/kafka/kafka/bin/zookeeper-server-start.sh /app/kafka/conf/zookeeper.properties
Restart=on-failure

[Install]
WantedBy=multi-user.target
