#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#       Elasticsearch Template for Linux     #
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
[[inputs.procstat]]
  pattern = "elasticsearch.*jdk"
  process_name = "elasticsearch"

